<!DOCTYPE html>
<html lang="en">
<head>
  <title> App Name - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="main-page">

<div class="left-page">
  <h1>Name</h1>
  {% include("_navigation.html") %}
</div>

<div class="right-page">
  <div class="overview-section">
    <h2>Overview</h2>
    <h3> some info here...</h3>
  </div>
  <div class="graph-section">

  </div>

<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</div>
</body>
</html>