/* Header: Oswald
 * Other text: Merriweather sans
 *
 * Colors are from STEGO page
 * svg from www.svgrepo.com
 */

:root {
  --primary-white: #F7F7F7;
  --primary-red: #d00e6f;
  --primary-black: #3e3e3e;
  --darker-red: #a10b59; /* for hovering over a red button */
}

html {
  scroll-behavior: smooth;
}

.red-text {
  color: var(--primary-red);
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    height: 100vh;
    color: var(--primary-black);
  }

  

  h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    
  }

  

  section {
    width: 100%;
  }

  /* navigation bar */
  .left-page {
    width: 20%; 
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-black);
    color: #F7F7F7;
  }
  
  .right-page {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
    
  }

  .overview-section {
    display: flex;
    background-color: var(--primary-white);
    flex-direction: column;
    padding: 0 40px;
    
    
  }

  .overview-section h2 {
    padding: 20px;
  }

  nav {
    position: fixed;  
    top: 0;
    left: 0;
    width: 250px; 
    height: 100vh; 
    overflow-y: auto; 
    background: var(--primary-black); 
    padding: 20px;

    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    color: white;

  }

  .nav-list img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--primary-white);
  }

  .nav-item {
    margin: 10px 0;
    border-radius: 12px;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 15px 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: var(--primary-red);
    color: var(--primary-black);
  }
  
  
  .nav-link:visited {
    color: var(--primary-white);
    text-decoration: none;
  }
  
  .nav-footer {
    font-size: 18px;
    text-align: center;
    padding-bottom: 0;
    color: #999;
    font-family: 'Oswald', sans-serif;
  }
  

  



  /*a,
  a:visited {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
  }

  */
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }

  /* home.html */

  .header {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding: 50px 10px 30px 10px;
    display: block;
    line-height: 80px;
    text-transform: uppercase;
  }

  .home-body {
    font-family: 'Merriweather', sans-serif;
    line-height: 36px;
  }

  .home-features {
   
    color: var(--primary-red);
    text-transform: uppercase;
    padding: 20px 0;

  }

  /* horizontal bar consisting of 3 things*/
  .home-3-block {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: 20px;
    
  }

  /* "a" element */
  .home-block-item {
  color: var(--primary-black);
  flex: 1; 
  margin: 0 10px; 
  align-items: center;
  padding: 10px 20px;
  display: inline-block;                  
  color: var(--primary-black);
  text-decoration: none;       
   
  transition: background-color 0.3s, color 0.3s;
  
  border: 2px var(--primary-black) solid;
  }

  .home-block-item img {
    width: 60px;
  }

  /* when you hover over the button, it'll turn the svg white*/
  .home-block-item:hover img {
    filter: brightness(0) invert(1);
  }

  .home-block-item h3 {
    font-size: 19px;
    margin: 0;
  }

  .home-block-item p {
    font-size: 15px;
    
  }

  .home-block-item:hover {
   
    cursor: pointer;
    background-color: var(--primary-black);
    color: white;
  }

  /* css for about.html */ 
  .about-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px 50px 20px;
  }
  
  .about-row {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
  }
  
  .about-header {
    flex: 1; 
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-red);
    text-transform: uppercase;
    text-align: left;
    padding-right: 20px;
    align-self: center;
  }
  
  .about-content {
    flex: 2; 
    font-size: 16px;
    color: #555;
    text-align: left;
    justify-content: flex-start;
    line-height: 25px;
  }
  
  
  @media (max-width: 768px) {
    .about-row {
      flex-direction: column;
    }
  
    .about-header {
      padding-bottom: 10px;
      text-align: center;
    }
  }

  /* For subscribe page */
  .subscribe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
  }
  
  .subscribe-text {
    flex: 1;
    min-width: 280px;
    font-family: 'Merriweather', sans-serif;
    line-height: 36px;
    text-align: left;
  }
  
  .subscribe-form-box {
    flex: 1;
    min-width: 280px;
    
    padding: 24px;
    border: 2px var(--primary-black) solid;
    
  }
  
  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-group {
    text-align: left;
  }
  
  .form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-black);
    font-size: 15px;
    font-family: 'Merriweather', sans-serif;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid --primary-white;
    
    box-sizing: border-box;
    color: var(--primary-black);
  }
  
  .form-input:focus {
    border-color: var(--primary-red);
    outline: none;
  }
  
  .subscribe-button {
    background-color: var(--primary-red);
    color: var(--primary-white);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-button:hover {
    background-color: #a10b59;
  }
  
  .form-message {
    margin-top: 12px;
    font-size: 14px;
  }
  
  .form-message.success {
    color: green;
  }
  
  .form-message.error {
    color: red;
  }

  /* animation */
  #header-fade {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  #header-fade.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  #fade-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
  }
  
  /* when content has loaded in */
  #fade-container.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  